:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #333;
  background-color: #f0f2f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic reset to remove default margins and paddings from browser */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw; /* Ensure body takes full viewport width */
  overflow-x: hidden; /* Prevent horizontal scrollbar if content overflows slightly */
}
header {
  background-color: #333;
}
